* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nord', sans-serif;
    font-size: 16px;
    background-color: var(--eggshell);
    scroll-behavior: smooth;
    color: var(--text);
}

section {
    height: 100vh;
    padding: 2rem 0;
}

.serif {
    font-family: 'PerfectlyNineties-Reg', serif, Helvatica;
}

.script {
  font-family: 'script', sans-serif, Helvetica;
}

.italic {
    font-family: 'PerfectlyNineties-Ital', serif, Helvatica;
}

.small {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.1rem;
}

/* -----------------Header Styles----------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    color: white;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s background ease-in-out;
    z-index: 1000;
}

nav {
    display: flex;
    list-style: none;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.logo {
    height: 20px;
}

.nav-bar > li {
    padding-left: 1.5rem;
}

.nav-bar > li > a {
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
    opacity: 0.8;
}

.nav-bar > li > a:hover {
    color: white;
}

.lang {
    margin-left: 1.5rem;
    cursor: pointer;
    gap: 5px;
    justify-self: center;
}

.header-scroll {
    background-color: var(--blue);
    color: var(--eggshell);
    transition: 0.3s background ease-in-out;
}

/* -----------------Mobile menu icon----------------- */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    margin: 5px 0;
}

/* -----------------Mobile menu styles----------------- */
/* .nav-mobile {
    display: none;
    flex-direction: column;
    position: relative;
    background-color: var(--blue);
    z-index: 999;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
} */

.nav-mobile {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: relative;
    background-color: var(--blue);
    z-index: 999;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.nav-mobile .nav-bar {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    transition: padding 0.3s ease-in-out;
}

.close {
    font-size: 1.5rem;
    color: var(--gray);
    cursor: pointer;
}

/* -----------------Hero Styles----------------- */
.hero-section {
  background: url('/assets/photos/M&M-115.png') no-repeat top center / cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 35%;
  z-index: -2;
  padding-bottom: 0.8rem;
  color: var(--eggshell);
}

.marquee-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  z-index: 1;
}

.marquee h1 {
  text-align: center;
  white-space: nowrap;
  padding: 0 1rem;
  height: 100%;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}

.marquee-title {
  font-size: 10rem;
}

.hero-details {
  font-size: 1rem;
}

/* -----------------Countdown Styles----------------- */
.countdown-section {
  background-image: url(/assets/graphics/bg-texture.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contdown-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.countdown-title > h1 {
  font-size: 3rem;
}

.countdown-title > p {
  margin-top: 0.5rem;
  font-size: 12px;
  padding: 0 2rem;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 3rem;
}

.countdown p {
  font-size: 3rem;
  text-align: center;
}

.countdown span {
  font-size: 0.8rem;
}

.rsvp-before > .small {
  width: 100%;
  margin-top: 2rem;
}

a.rsvp {
  padding: 0.5rem 5rem;
  border: 1px solid var(--blue);
  border-radius: 2px;
  color: var(--blue);
  background-color: var(--eggshell);
  text-decoration: none;
}

a.rsvp:hover {
  color: var(--eggshell);
  background-color: var(--blue);
  cursor: pointer;
}

/* -----------------Wedding Events----------------- */
.itinerary {
  background-color: #30449c80;
  padding: 3rem 2rem 2rem 2rem;
}

.itinerary-title {
  margin-bottom: 2rem;
  color: var(--eggshell);
}

.itinerary-title > h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.accommodations {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.5rem;
  gap: 1rem;
}

a.hotels {
  padding: 0.5rem 5rem;
  border: 1px solid var(--dark-blue);
  border-radius: 2px;
  color: var(--dark-blue);
  background-color: transparent;
  text-decoration: none;
}

a.hotels:hover {
  color: var(--eggshell);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.events {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.event {
  margin: 2rem 1rem;
  background-color: #30449c4a;
  max-width: 20rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.event-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.event-details > p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.event-details > h3 {
  font-weight: 600;
  font-size: 1rem;
}

.event-title {
  font-size: 2rem;
}

.event-description > h4 {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container > iframe {
  width: 100%;
  height: 300px;
  border: none;
  filter: grayscale(1) contrast(1.5);
  border-radius: 2px;
}

/* -----------------Transportation----------------- */
.transportation {
  padding: 10rem 2rem 10rem 2rem;
  background-image: url(/assets/graphics/bg-beige.png);
  background-position: center;
  background-size: cover;
}

.transportation > h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.transportation-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.transportation-info {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.transportation-info > ul {
  list-style: none;
  margin-left: 1.5rem;
}

.mapa-cancun {
  width: 50%;
  position: relative;
}

/* -----------------Dress code----------------- */
.dresscode {
  padding: 3rem 2rem 2rem 2rem;
  background-image: url(/assets/graphics/bg-texture-03.png);
  background-position: center;
  background-size: cover;
  background-color: var(--lighter-blue);
}

.dresscode > h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.event-info-container {
  max-width: 30%;
  min-height: 45rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 0.5px solid var(--lighter-blue);
  background-color: var(--lighter-blue);
  padding: 1rem 3rem;
  border-radius: 2px;
}

.dc-type {
  font-size: 2rem;
}

p.dc-description {
  font-family: 'Nord-light';
  font-size: 0.9rem;
}

.dresscode-image {
  width: 100%;
  height: auto;
}

#icebreaker-pin,
#reception-pin {
  text-decoration: none;
  color: var(--beige);
  opacity: 0.8;
  cursor: pointer;
}

/* -----------------Music----------------- */
#music-section {
  background-image: url(/assets/graphics/bg-beige.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

#music-section > h2 {
  font-family: 'script', sans-serif;
  color: var(--text);
  opacity: 0.8;
  margin-bottom: 2rem;
}

#music-section > iframe {
  width: 40%;
  height: 450px;
  margin: 3rem 3rem 1rem 3rem;
}

/* -----------------Footer----------------- */
footer {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 8rem 1rem 2rem 1rem;
  color: white;
  font-size: 0.8rem;
}

footer > p > a {
  font-family: 'PerfectlyNineties-boldIta', serif, Helvatica;
  text-decoration: none;
  color: #efecda;
  cursor: pointer;
  font-size: 1rem;
}

/* -----------------Media Query----------------- */
@media screen and (max-width: 768px) {
  html {
      font-size: 10px;
  }

  section {
      height: 95vh;
  }

  /* Header */
  header {
    justify-content: space-between;
    background-color: var(--blue);
    font-size: 11px;
    letter-spacing: 0.3rem;
    height: 5rem;
  }

  .logo {
      height: 15px;
  }

  .nav-desktop {
      display: none;
  }

  .menu-toggle {
      display: block;
  }

  .menu-toggle.active {
      display: none;
  }

  .nav-mobile.active {
      height: auto;
      opacity: 1;
      visibility: visible;
      align-items: flex-end;
  }

  .nav-mobile > .nav-bar > li {
    margin-bottom: 1.5rem;
  }

  .hidden {
      display: none;
  }

  .lang {
      margin-right: 10px;
      gap: 10px;
      width: max-content;
  }

  /* Hero */
  .hero-section {
      background: url('/assets/photos/M&M-115c.png') no-repeat 65% top / cover;
      padding-bottom: 1rem;
  }

  /* Countdown */
  .countdown {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
  }

  /* Events */
  .itinerary {
    padding: 1rem 1.5rem 3.5rem 1.5rem;
  }

  .itinerary-title {
    margin: 0;
  }

  .events-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .accommodations {
    width: 78%;
    align-items: flex-start;
    margin: 4rem 0;
  }

  .events {
    display: flex;
    flex-direction: column;
  }

  .event {
    margin: 0.5rem 1rem;
    max-width: 92%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .event-details {
    margin-top: 2rem;
  }

  /* Transportation */
  .transportation {
    /* padding: 4rem 2rem; */
    padding: 10rem 4rem;
  }

  .transportation > h2 {
    margin-bottom: 1rem;
  }

  .transportation-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .transportation-info {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .transportation-info > h4 {
    width: 100%;
  }

  .transportation-info > p,
  .details > p {
    width: 90%;
  }

  .mapa-cancun {
    width: 100%;
  }

  /* Dress code */
  .event-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .event-info-container {
    max-width: 92%;
  }

  /* Wedding Party */
  /* Playlist */
  #music-section {
    flex-direction: column-reverse;
  }

  #music-section > h2 {
      margin: 3rem 2rem 0.5rem 2rem;
  }

  #music-section > iframe {
      width: 87%;
      height: 550px;
      margin: 0 3rem 3rem 3rem;
  }

  /* Footer */
  footer {
    padding: 5rem 1rem 2rem 1rem;
  }
}
